.main
  = render 'shared/sub_header'
  .main__single-container
    %h2.main__single-container__head 住所登録
    = render "devise/shared/error_messages", resource: @address
    = form_for @address do |f|
      .registar-form__content
        .registar-form__content__box
          %label.registar-form__content__box__label 郵便番号
          %span.registar-form__content__box__require 必須
          = f.text_field :postal_code, placeholder: "例）123-4567", class: "registar-form__content__box--one-field" 

        .registar-form__content__box
          %label.registar-form__content__box__label 都道府県
          %span.registar-form__content__box__require 必須
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "--", class: "registar-form__content__box--one-field"
        
        .registar-form__content__box
          %label.registar-form__content__box__label 市区町村
          %span.registar-form__content__box__require 必須
          = f.text_field :address1, placeholder: "例）東京都渋谷区", class: "registar-form__content__box--one-field" 
        .registar-form__content__box
          %label.registar-form__content__box__label 番地
          %span.registar-form__content__box__require 必須
          = f.text_field :address2, placeholder: "例）青山1-1-1", class: "registar-form__content__box--one-field" 
          
        .registar-form__content__box
          %label.registar-form__content__box__label 建物名
          %span.registar-form__content__box__optional 任意
          = f.text_field :building_name, placeholder: "例）柳ビル 101", class: "form-building_name" 
           
        .registar-form__content__box
          %label.registar-form__content__box__label  電話番号
          %span.registar-form__content__box__optional 任意
          = f.number_field :phone_number, placeholder: "例）08012345678", class: "form-phone_number"  
          
        .main__single-text
          = f.submit "登録", class: "single-move-button"  
  = render 'shared/sub_footer'