.mp-container__mp-content
  %section.mp-container__mp-content__mypage-user-icon
    = link_to '#',class: 'mp-container__mp-content__mypage-user-icon__user-profile' do
      %figure.picture
        = image_tag "mypage-user.jpg" , alt: "test"
      %h2.bold
        = current_user.nickname
      .mp-container__mp-content__mypage-user-icon__mypage-number
        .mp-container__mp-content__mypage-user-icon__mypage-number__evaluation
          評価
          %span.bold
            0
        .mp-container__mp-content__mypage-user-icon__mypage-number__exhibit
          出品数
          %span.bold
            = current_user.items.length
  %section.mp-container__mp-content__mypage-tab-container-notification-todo
    %ul.mp-container__mp-content__mypage-tab-container-notification-todo__mypage-tabs
      %li.tab-list.is-active
        %h3.tab-content
          = link_to '#mypage-tab-notification',class: "tab-link" do
            お知らせ
      %li.tab-list
        %h3.tab-content
          = link_to '#mypage-tab-todo',class: "tab-link" do
            やることリスト
    .mp-container__mp-content__mypage-tab-container-notification-todo__tab-content
      %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
        %li
          = link_to '#', class:"mypage-item-link" do
            %figure
              = image_tag "app-icon.jpg", alt: "test"
            .mypage-item-body
              .mypage-item-text
                事務局から個別メッセージ「ログイン通知」
              %time 
                %i.far.fa-clock
                %span
                  19 時間前
            %i.fas.fa-chevron-right
        %li 
          = link_to '#', class:"mypage-item-link" do
            %figure
              = image_tag "app-icon.jpg" , alt: "test"
            .mypage-item-body
              .mypage-item-text
                《メルペイでゆうちょ銀行が使えるようになりました》銀行口座登録すると売上金の振込期限がなくなります
              %time 
                %i.far.fa-clock
                %span
                  3 日前
            %i.fas.fa-chevron-right
        %li 
          = link_to '#', class:"mypage-item-link" do
            %figure
              = image_tag "app-icon.jpg", alt: "test" 
            .mypage-item-body
              .mypage-item-text
                《最大4万円分!?》今ならd払いで最大＋20% dポイント還元中！！！
              %time 
                %i.far.fa-clock
                %span
                  4 日前
            %i.fas.fa-chevron-right

        %li.mypage-go-list
          = link_to '#' do
            一覧を見る
      %ul#mypage-tab-todo.mypage-item-list.tab-pane
        %li 
          = link_to '#', class:"mypage-item-link" do
            %figure
              = image_tag "app-icon.jpg", alt: "test"
            .mypage-item-body
              .mypage-item-text
                Skrowaczewskiさんから「Sound Core 2」が発送されました。届いたら内容を確認して、受取評価してください
              %time 
                %i.far.fa-clock
                %span
                  10 時間前
            %i.fas.fa-chevron-right
        %li.mypage-go-list
          = link_to '#' do
            一覧を見る

  %section.mp-container__mp-content__mypage-tab-container-bottom
    %h2.mp-container__mp-content__mypage-tab-container-bottom__mypage-tab-head
      購入した商品
    %ul.mp-container__mp-content__mypage-tab-container-bottom__mypage-tabs
      %li.tab-list.active-now
        %h3.tab-content
          = link_to '#mypage-tab-transaction-now',class: "tab-link-2" do
            取引中
      %li.tab-list
        %h3.tab-content
          = link_to '#mypage-tab-transaction-past',class: "tab-link-2" do
            過去の取引
    .mp-container__mp-content__mypage-tab-container-bottom__tab-content
      %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.is-active-now
        %li
          = link_to '#', class:"mypage-item-link" do
            %figure
              = image_tag "app-icon.jpg", alt: "test"
            .mypage-item-body
              .mypage-item-text
                「Apple Air pods pro」を購入しました。
                %span
                  受け取評価をしてください
              .mypage-item-status.bold.action-required
                受け取評価待ち
            %i.fas.fa-chevron-right
        %li.mypage-go-list
          = link_to '#' do
            一覧を見る
      %ul#mypage-tab-transaction-past.mypage-item-list.tab-pane
        %li 
          = link_to '#', class:"mypage-item-link" do
            %figure
              = image_tag "app-icon.jpg", alt: "test"
            .mypage-item-body
              .mypage-item-text
                「スマホケース」を購入しました。
                %span
                  取引が完了しました
              .mypage-item-status.bold.action-required-2
                取引完了
            %i.fas.fa-chevron-right
        %li.mypage-go-list
          = link_to '#' do
            一覧を見る