.wrapper 
  = render 'shared/header'
  .wrapper__main
    .mp-container
      = render 'my-page'
    = link_to new_items_path, class: 'sell-icon' do
      = render 'shared/sell-icon'

  = render "/shared/footerFirst"
  = render "/shared/footerSecond"
  