.main
  = render 'shared/sub_header'
  .main__single-container
    %h2.main__single-container__head パスワードをお忘れの方
    = form_for(@user, url: password_path(resource_name), html: { method: :post, class: "registar-form"}) do |f|
      = devise_error_messages!
      .registar-form__content
        .registar-form__content__box
          %label.registar-form__content__box__label メールアドレス
          = f.email_field :email, placeholder: "ご登録されたメールアドレス",class: "registar-form__content__box--one-field"
        .registar-form__content__submit
          = f.submit "送信する", class: "single-move-button" 
  = render 'shared/sub_footer'
