%header.header
  .header__topContents
    %h1.header__logo
      = link_to '#' do
        = image_tag "logo.png", size: "140x40", alt: "FURIMA", class: "header__logoImage"
    = form_with url: '#', method: :get, local: true, class: "header__searchForm" do |f|
      = f.text_field :keyword, placeholder: "キーワードから探す", autocomplete: "off", class: "header__searchField"
      = button_tag type: "submit", class: "header__searchBtn" do
        %i.fas.fa-search

  .header__bottomContents
    %nav.header__nav

      %ul.header__navMenu
        %li.header__navContent
          = link_to "カテゴリー", '#'

          %ul.header__navMenuSecond
            %li.header__navContentSecond
              = link_to "レディース", '#'

              %ul.header__navMenuThird
                %li.header__navContentThird
                  = link_to "トップス", '#'

                  %ul.header__navMenuForth
                    %li.header__navContentForth
                      = link_to "Tシャツ/カットソー(半袖/袖なし)"
                    %li.header__navContentForth
                      = link_to "Tシャツ/カットソー(七分/長袖)"

                %li.header__navContentThird
                  = link_to "ジャケット/アウター", '#'

                  %ul.header__navMenuForth
                    %li.header__navContentForth
                      = link_to "テーラードジャケット", '#'
                    %li.header__navContentForth
                      = link_to "ノーカラージャケット", '#'

            %li.header__navContentSecond
              = link_to "メンズ", '#'

              %ul.header__navMenuThird
                %li.header__navContentThird
                  = link_to "トップス", '#'

                  %ul.header__navMenuForth
                    %li.header__navContentForth
                      = link_to "Tシャツ/カットソー(半袖/袖なし)"
                    %li.header__navContentForth
                      = link_to "Tシャツ/カットソー(七分/長袖)", '#'

                %li.header__navContentThird
                  = link_to "ジャケット/アウター", '#'

                  %ul.header__navMenuForth
                    %li.header__navContentForth
                      = link_to "テーラードジャケット", '#'
                    %li.header__navContentForth
                      = link_to "ノーカラージャケット", '#'

        %li.header__navContent
          = link_to "ブランド", '#'

          %ul.header__navMenuSecond
            %li.header__navContentSecond
              = link_to "シャネル", '#'
            %li.header__navContentSecond
              = link_to "ナイキ", '#'
          
    .header__userMenu
      - user_signed_in = true #devise導入後削除
      - if user_signed_in #devise導入後「?」追記
        = link_to "ログイン", new_user_session_path, class: "header__userLink"
        = link_to "新規会員登録", new_user_registration_path , class: "header__userLink"
      - else
        = link_to "マイページ", '#', class: "header__userContent"
        %ul.header__userMenuSecond
          %li.header__userContentSecond
            = link_to "出品した商品", '#'
          %li.header__userContentSecond
            = link_to "購入した商品", '#'
