%header.header
  .header__topContents
    %h1.header__logo
      = link_to '/' do
        = image_tag "logo.png", size: "140x40", alt: "FURIMA", class: "header__logoImage"

    = search_form_for(@q,url: detail_search_searches_path, class:'searchForm') do |f|
      = f.search_field :name_cont, placeholder: "キーワードから探す", class: "header__searchField"
      = button_tag 'search', name: nil, class: "header__searchBtn" do
        %i.fas.fa-search

  .header__bottomContents
    %nav.header__nav

      %ul.header__navMenu
        %li.header__navContent
          = link_to "カテゴリー", '#'

          %ul.header__navMenuSecond
            = render partial: "shared/navMenu_second", collection: @parent_categories, as: "parent_category"

        %li.header__navContent
          = link_to "ブランド", '#'

          %ul.header__navMenuSecond
            %li.header__navContentSecond
              = link_to "シャネル", '#'
            %li.header__navContentSecond
              = link_to "ナイキ", '#'
          
    .header__userMenu
      - if user_signed_in?
        = link_to "マイページ", users_path, class: "header__userContent"
        %ul.header__userMenuSecond
          %li.header__userContentSecond
            = link_to "出品した商品", '#'
          %li.header__userContentSecond
            = link_to "購入した商品", '#'
        = link_to(destroy_user_session_path, method: :delete, class: "header-logout") do
          = "ログアウト"
      - else
        = link_to "ログイン", new_user_session_path, class: "header__userLink"
        = link_to "新規会員登録", new_user_registration_path , class: "header__userLink"


