%li.pickUp__content
  = link_to item_path(item.id), class: "pickUp__contentLink" do
    - unless item.stock_status
      .item-sold
        .item-sold__inner
          = "SOLD"
    = image_tag item.item_images[0].url.url, alt: "item3", class: "pickUp__itemImage"
  .pickUp__details
    .pickUp__itemDetails
      %h3.pickUp__name= item.name
      %p.pickUp__price 
        ¥
        = item.price
      %p.pickUp__taxInfo (税込)
    .pickUp__favBox
      %i.fa.fa-star
      %p.pickUp__favNumber 
    