.wrapper
  = render "/shared/header"

  .wrapper__main
    = render "/shared/introductionFirst"
    = render "/shared/introductionSecond"
    = render "/shared/introductionThird"
    = render "/shared/introductionFourth"
    = render partial: "/shared/allItem", locals: {link: root_path, title: "出品商品一覧", subtitle: "新着アイテム"} 
    = render partial: "/shared/pickUpcategory", locals: {link: root_path, title: "ピックアップカテゴリー", subtitle: "#{@picｋ_up_category.name}新着アイテム"} 
    = render partial: "/shared/pickUpbrand", locals: {link: root_path, title: "ピックアップブランド", subtitle: @brand.name}
    = link_to new_item_path , class: 'sell-icon' do
      = render 'shared/sell-icon'

  = render "/shared/footerFirst"
  = render "/shared/footerSecond"
