.wrapper
  = render "/shared/header"

  .wrapper__main
    = render "/shared/introductionFirst"
    = render "/shared/introductionSecond"
    = render "/shared/introductionThird"
    = render "/shared/introductionFourth"
    = render partial: "/shared/pickUp", locals: {link: root_path, title: "ピックアップカテゴリー", subtitle: "新規投稿商品"}
    = render partial: "/shared/pickUp", locals: {link: root_path, title: "ピックアップブランド", subtitle: "アーカイブ"}
    = link_to new_item_path , class: 'sell-icon' do
      = render 'shared/sell-icon'

  = render "/shared/footerFirst"
  = render "/shared/footerSecond"
  