.wrapper
  = render "/shared/header"

  .wrapper__main
    = render "/shared/introductionFirst"
    = render "/shared/introductionSecond"
    = render "/shared/introductionThird"
    = render "/shared/introductionFourth"
    = render partial: "/shared/pickUpcategory", locals: {link: root_path, title: "ピックアップカテゴリー", subtitle: "新着アイテム"} #{@picｋ_up_category.name}
    = render partial: "/shared/pickUpbrand", locals: {link: root_path, title: "ピックアップブランド", subtitle: "ブランド"} #@brand.name
    = link_to new_item_path , class: 'sell-icon' do
      = render 'shared/sell-icon'

  = render "/shared/footerFirst"
  = render "/shared/footerSecond"
