.si-container__si-box
  .si-container__si-box__si-inner
    %h2.single-head.bold
      商品の情報を入力
    %hr.si-container__si-box__si-inner__si-underline
    = form_with model: @item, local: true do |f|
      .si-container__si-box__si-picture-box.perimeter
        .si-container__si-box__box-frame
          .si-container__si-box__si-photos{name: "photos"}
            %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
              出品画像
            %span.required-display
              必須
          %p.si-container__si-box__si-inner__si-picture-box__box-frame__upload-text
            最大10枚までアップロードできます

          .post__drop__box__container
            - @item.item_images.each do |url|
              .preview-box
                .upper-box
                  = image_tag "#{url.url}", width: "112", height: "112", alt: "preview"
                .lower-box
                  .update-box
                    %span.edit_btn 編集
                  .delete-box
                    %span 削除

            .label-content
              %label{for: "item_item_images_attributes_#{@item.item_images.length}_url", class: "label-box", id: "label-box--#{@item.item_images.length}"}
             
                %pre.label-box__text-visible クリックしてファイルをアップロード
            = render partial: 'devise/shared/error_messages', locals: { column: :item_images, input: @item }
            .hidden-content
              = f.fields_for :item_images do |i|

                //プレビューが出ている分のfile_fieldとdelete用のチェックボックスを設置
                = i.file_field :url, class: "hidden-field"
                = i.check_box:_destroy, class: "hidden-checkbox"

                //10個のfile_fieldを準備するに当たって、足りない分を表示
              - @item.item_images.length.upto(9) do |i|
                %input{name: "item[item_images_attributes][#{i}][url]", id: "item_item_images_attributes_#{i}_url", class:"hidden-field", type:"file"}

      %hr.si-container__si-box__si-inner__si-underline

      .si-container__si-box__si-picture-box.perimeter
        .si-container__si-box__box-frame
          .si-container__si-box__si-photos
            %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
              商品名
            %span.required-display
              必須
          .si-container__si-box__input-container
            = f.text_field :name, placeholder: '商品名（必須 40文字まで)', class:'input-default'
            = render partial: 'devise/shared/error_messages', locals: { column: :name, input: @item }
        .si-container__si-box__box-frame.si-top
          .si-container__si-box__si-photos
            %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
              商品の説明
            %span.required-display
              必須
          .si-container__si-box__input-container
            = f.text_area :description, rows: '5', placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', class:'text-default'
            = render partial: 'devise/shared/error_messages', locals: { column: :description, input: @item }
      %hr.si-container__si-box__si-inner__si-underline

      .si-container__si-box__si-picture-box.perimeter.display-box
        %h3.sell-sub-head
          商品の詳細
        .sell-form-box 
          .si-container__si-box__box-frame#category-menus
            .si-container__si-box__si-photos
              %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
                カテゴリー
              %span.required-display
                必須
            .sell-form-box__select-wrap#parent-category-menu-wrap
              %i.fas.fa-chevron-down
              = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt: "---"}, {class: "selector-category", id: "parent-category-menu"}
              = render partial: 'devise/shared/error_messages', locals: { column: :category_id, input: @item }
          .si-container__si-box__box-frame.si-top
            .si-container__si-box__si-photos
              %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
                商品の状態
              %span.required-display
                必須
            .sell-form-box__select-wrap
              %i.fas.fa-chevron-down
              = f.collection_select :condition_id, Condition.all, :id, :name, {prompt: "--"}, {class: 'selector-category'}
          = render partial: 'devise/shared/error_messages', locals: { column: :condition_id, input: @item }
      %hr.si-container__si-box__si-inner__si-underline

      .si-container__si-box__si-picture-box.perimeter.display-box
        %h3.sell-sub-head
          配送について
          = link_to "#", target: "blank", class: "from-question" do
            ?
        .sell-form-box 
          .si-container__si-box__box-frame
            .si-container__si-box__si-photos
              %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
                配送料の負担
              %span.required-display
                必須
            .sell-form-box__select-wrap
              %i.fas.fa-chevron-down
              = f.collection_select :shipping_fee_who_id, ShippingFeeWho.all, :id, :name, {prompt: "--"}, {class: 'selector-category'}
              = render partial: 'devise/shared/error_messages', locals: { column: :shipping_fee_who_id, input: @item }
              -# ここから（追加実装用）

          -# .si-container__si-box__box-frame.si-top.none
          -#   .si-container__si-box__si-photos
          -#     %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
          -#       発送の方法
          -#     %span.required-display
          -#       必須
          -#   .sell-form-box__select-wrap
          -#     %i.fas.fa-chevron-down
          -#     = f.select :category, [["---", "1"]],{}, {class: 'selector-category'}
                 
            -# ここまで

          .si-container__si-box__box-frame.si-top
            .si-container__si-box__si-photos
              %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
                発送元の地域
              %span.required-display
                必須
            .sell-form-box__select-wrap
              %i.fas.fa-chevron-down
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "--"}, {class: 'selector-category'}
              = render partial: 'devise/shared/error_messages', locals: { column: :prefecture_id, input: @item }

          .si-container__si-box__box-frame.si-top
            .si-container__si-box__si-photos
              %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
                発送までの日数
              %span.required-display
                必須
            .sell-form-box__select-wrap
              %i.fas.fa-chevron-down
              = f.collection_select :shipping_days_id, ShippingDays.all, :id, :name, {prompt: "--"}, {class: 'selector-category'}
              = render partial: 'devise/shared/error_messages', locals: { column: :shipping_days_id, input: @item }
      %hr.si-container__si-box__si-inner__si-underline

      .si-container__si-box__si-picture-box.perimeter.display-box
        %h3.sell-sub-head
          販売価格
          %span.price-sub-head
            (300〜9,999,999)
          = link_to "#", target: "blank", class: "from-question" do
            ?
        .sell-form-box
          %ul.si-container__si-box__sell-price
            %li.si-container__si-box__si-photos.si-bottom.display-box
              .si-right-box 
                %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label-2
                  価格
                %span.required-display
                  必須
              .sell-form-box__sell-price-input.l-right
                .sell-form-box__sell-price-input__top
                  .sell-form-box__sell-price-input__top__yen.l-right
                    =  "¥"
                  .sell-form-box__sell-price-input__top__input-box.l-right
                    = f.text_field :price, placeholder: '例）300', class:'input-default input-right'
                = render partial: 'devise/shared/error_messages', locals: { column: :price, input: @item }
            %li.sell-form-box__price-list.display-box#sell-fee-calc
              .sell-form-box__price-list__l-left
                販売手数料 (10%)
            %li.sell-form-box__price-list.display-box.bold#sell-profit-calc
              .sell-form-box__price-list__l-left-2
                販売利益
          
      %hr.si-container__si-box__si-inner__si-underline

      .si-container__si-box__si-picture-box.perimeter
        .notes-box
          %ul.notes-box__lists
            %li.linotes-box__lists__list
              = link_to "#", class: "notes-box__lists__list__j-link" do
                禁止されている出品
            %li.linotes-box__lists__list
              、
            %li.linotes-box__lists__list
              = link_to "#", class: "notes-box__lists__list__j-link" do
                行為
            %li.linotes-box__lists__list
              を必ずご確認ください。
          %ul.notes-box__lists
            %li.linotes-box__lists__list
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to "#", class: "notes-box__lists__list__j-link" do
                偽ブランドの販売
              は犯罪であり処罰される可能性があります。
          %ul.notes-box__lists
            %li.linotes-box__lists__list
              また、出品をもちまして
              = link_to "#", class: "notes-box__lists__list__j-link" do
                加盟店規約
              に同意したことになります。
        = f.submit "変更する", type: 'submit', class: 'si-sbm-btn'
        = link_to :back, class: "default-btn" do 
          キャンセル
