.si-container__si-box
  .si-container__si-box__si-inner
    = form_with local: true do |f|
      .si-container__si-box__si-picture-box.perimeter
        .si-container__si-box__box-frame
          .si-container__si-box__si-photos{name: "photos"}
            %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
              出品画像
            %span.required-display
              必須
          %p.si-container__si-box__si-inner__si-picture-box__box-frame__upload-text
            最大10枚までアップロードできます
          .si-container__si-box__si-inner__si-picture-box__box-frame__upload-box
            .si-container__si-box__si-inner__si-picture-box__box-frame__upload-box__upload-container
              .si-container__si-box__si-inner__si-picture-box__box-frame__upload-box__upload-container__si-inner-box
                .si-container__si-box__si-inner__si-picture-box__box-frame__upload-box__upload-container__si-inner-box__si-inner-container
                  = f.label :image, id: "drop-zone", class: "image-label" do
                    = f.file_field :image, accept: "image/png,image/jpeg", autocomplete: "off", multiple: "", style: "display:none", tabindex: "-1", type: "file", class: "hidden-field"
                    %input{accept: "image/png,image/jpeg", autocomplete: "off", multiple: "", style: "display:none", tabindex: "-1", type: "file"}
              
                    .si-big-box
                      .si-big-box__si-icon-box
                        %img{alt: "出品する", class: 'camera-icon', src: "/assets/shared/icon_camera.png"}/
                      .si-big-box__si-text-box  
                        %p.drag-drop
                          ドラッグアンドドロップ
                        %p.drag-drop
                          またはクリックしてファイルをアップロード

      %hr.si-container__si-box__si-inner__si-underline

      .si-container__si-box__si-picture-box.perimeter
        .si-container__si-box__box-frame
          .si-container__si-box__si-photos
            %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
              商品名
            %span.required-display
              必須
          .si-container__si-box__input-container
            = f.text_field :ItemsName, value: '', placeholder: '商品名（必須 40文字まで)', class:'input-default'
        .si-container__si-box__box-frame.si-top
          .si-container__si-box__si-photos
            %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
              商品の説明
            %span.required-display
              必須
          .si-container__si-box__input-container
            = f.text_area :ItemDescription, rows: '5', placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', class:'text-default'

      %hr.si-container__si-box__si-inner__si-underline

      .si-container__si-box__si-picture-box.perimeter.clearfix
        %h3.sell-sub-head
          商品の詳細
        .sell-form-box 
          .si-container__si-box__box-frame
            .si-container__si-box__si-photos
              %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
                カテゴリー
              %span.required-display
                必須
            .sell-form-box__select-wrap
              %i.fas.fa-chevron-down
              = f.select :category, [["---", "1"]],{}, {class: 'selector-category'}

            -# ここから（とりあえずでdisplay: noenをかけています。）

            .sell-form-box__select-wrap.none
              %i.fas.fa-chevron-down
              = f.select :category, [["---", "1"]],{}, {class: 'selector-category'}
            .sell-form-box__select-wrap.none
              %i.fas.fa-chevron-down
              = f.select :category, [["---", "1"]],{}, {class: 'selector-category'}

            -# ここまで

          .si-container__si-box__box-frame.si-top
            .si-container__si-box__si-photos
              %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
                商品の状態
              %span.required-display
                必須
            .sell-form-box__select-wrap
              %i.fas.fa-chevron-down
              = f.select :category, [["---", "1"]],{}, {class: 'selector-category'}
      %hr.si-container__si-box__si-inner__si-underline

      .si-container__si-box__si-picture-box.perimeter.clearfix
        %h3.sell-sub-head
          配送について
        = link_to "#", target: "blank", class: "from-question" do
          ?
        .sell-form-box 
          .si-container__si-box__box-frame
            .si-container__si-box__si-photos
              %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
                配送料の負担
              %span.required-display
                必須
            .sell-form-box__select-wrap
              %i.fas.fa-chevron-down
              = f.select :category, [["---", "1"]],{}, {class: 'selector-category'}
        
              -# ここから（とりあえずでdisplay: noenをかけています。）

          .si-container__si-box__box-frame.si-top.none
            .si-container__si-box__si-photos
              %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
                発送の方法
              %span.required-display
                必須
            .sell-form-box__select-wrap
              %i.fas.fa-chevron-down
              = f.select :category, [["---", "1"]],{}, {class: 'selector-category'}
                 
            -# ここまで

          .si-container__si-box__box-frame.si-top
            .si-container__si-box__si-photos
              %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
                発送元の地域
              %span.required-display
                必須
            .sell-form-box__select-wrap
              %i.fas.fa-chevron-down
              = f.select :category, [["---", "1"]],{}, {class: 'selector-category'}

          .si-container__si-box__box-frame.si-top
            .si-container__si-box__si-photos
              %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
                発送までの日数
              %span.required-display
                必須
            .sell-form-box__select-wrap
              %i.fas.fa-chevron-down
              = f.select :category, [["---", "1"]],{}, {class: 'selector-category'}

      %hr.si-container__si-box__si-inner__si-underline

      .si-container__si-box__si-picture-box.perimeter.clearfix
        %h3.sell-sub-head
          販売価格
          %span.price-sub-head
            (300〜9,999,999)
        = link_to "#", target: "blank", class: "from-question" do
          ?
        .sell-form-box
          %ul.si-container__si-box__sell-price
            %li.si-container__si-box__si-photos.si-bottom.clearfix
              %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label-2
                価格
              %span.required-display
                必須
              .sell-form-box__sell-price-input.l-right
                ¥
                .sell-form-box__sell-price-input__input-box.l-right
                  = f.text_field :ItemsPrice, value: '', placeholder: '例）300', class:'input-default input-right'


            %li.sell-form-box__price-list.clearfix
              .sell-form-box__price-list__l-left
                販売手数料 (10%)
              .l-right -
            %li.sell-form-box__price-list.clearfix.bold
              .sell-form-box__price-list__l-left-2
                販売利益
              .sell-form-box__price-list__l-right-2 -
      %hr.si-container__si-box__si-inner__si-underline
