= render "/shared/header"
= render "/shared/breadCrumb"
.is-main
  .is-main__content
    .is-main__content__top
      .is-main__content__top__item
        %h2.is-main__content__top__item__name
          = @item.name
        .is-main__content__top__item__body

          .image-main
            = image_tag "#{@item_image.url}",class:'main-photo'
          %ul.item-image-sub_top
            = render partial: "/shared/item_show_images", collection: @item_images_sub1, as: "item_image"


                
        .is-main__content__top__item__price
          %span= "¥ #{@item.price}"
          .is-main__content__top__item__price__detail
            %span= "(税込み)"
            %span= "送料込み"
        .is-main__content__top__item__buy
          =link_to "購入画面に進む", '#'

        .is-main__content__top__item__header
          = "product3"
        .is-main__content__top__item__table
          %table
            %tbody
              %tr
                %th
                  = "出品者"
                %td
                  = "田中たろう"
              %tr
                %th
                  = "カテゴリー"
                %td
                  = link_to "ベビー・キッズ", '#'
                  %br
                  = link_to "ベビー服(男女兼用) ~95cm", '#'
                  %br
                  = link_to "アウター", '#'
              %tr
                %th
                  = "ブランド"
                %td
                  = ""
              %tr
                %th
                  = "商品のサイズ"
                %td
                  = ""
              %tr
                %th
                  = "商品の状態"
                %td
                  = "未使用に近い"
              %tr
                %th
                  = "配送料の負担"
                %td
                  = "送料込み（出品者負担）"
              %tr
                %th
                  = "発送元の地域"
                %td
                  = link_to "青森県", '#'
              %tr
                %th
                  = "発送日の目安"
                %td
                  = "4-7日で発送"
        .is-main__content__top__item__option
          %ul
            %li.like-btn
              %i= icon('fa', 'star', class: "like-btn-icon")
              = "お気に入り 0"
          %ul
            %li.report-box
              = link_to '#', class: "report-box__link" do
                %i= icon('fa', 'flag', class: "report-icon")
                %span= "不適切な商品の通報"
    .is-main__content__comment
      = form_with url: '#', method: :get, local: true, class: "is-main__content__comment__form" do |f|
        = f.text_area :keyword, autocomplete: "off"
        %p.is-main__content__comment__form__notice
          = "相手のことを考え丁寧なコメントを心がけましょう。"
          %br= "不快な言葉遣いなどは利用制限や退会処分となることがあります。"
        = button_tag type: "submit", class: "comment-btn" do
          %i.fa.fa-comment
            = "コメントする"
  .is-main__other
    %ul.is-main__other__links
      %li.is-main__other__links__left
        = link_to '#' do
          %i= icon('fas', 'angle-left', class: "left-icon")
          %span= "前の商品"
      %li.is-main__other__links__right
        = link_to '#' do
          %span= "次の商品"
          %i= icon('fas', 'angle-right', class: "right-icon")
    .is-main__other__related
      = link_to '#' do
        = "ベニーキッズをもっと見る"
= render "/shared/footerFirst"
= render "/shared/footerSecond"