= render "/shared/header"
- breadcrumb :item, @item
= render "shared/breadCrumb"
.is-main
  .is-main__content
    .is-main__content__top
      .is-main__content__top__item
        %h2.is-main__content__top__item__name
          = @item.name
        .is-main__content__top__item__body
          .image-main
            = image_tag @item_image, class:'main-photo'
          %ul.item-image-sub_top
            = render partial: "/shared/item_show_images", collection: @item.item_images, as: "item_image"
        
        .is-main__content__top__item__price
          %span= "¥ #{@item.price}"
          .is-main__content__top__item__price__detail
            %span= "(税込み)"
            %span= "送料込み"

        - if user_signed_in? && current_user.id == @item.user_id
          .is-main__content__top__item__edit
            =link_to "商品の編集", edit_item_path(@item), method: :get
          .is-main__content__top__item__delete
            =link_to "この商品を削除する",  item_path(@item), method: :delete

        - else 
          .is-main__content__top__item__buy
            =link_to "購入画面に進む", item_orders_path(@item.id)

        .is-main__content__top__item__header
          = @item.description
        .is-main__content__top__item__table
          %table
            %tbody
              %tr
                %th
                  = "出品者"
                %td
                  - if current_user.id == @item.user_id
                    = link_to user_path(current_user.id) do
                      = @item.user.nickname
                  - else
                    = link_to seller_user_path(@item.user_id) do
                      = @item.user.nickname
              %tr
                %th
                  = "カテゴリー"
                %td
                  = link_to "ベビー・キッズ", '#'
                  %br
                  = link_to "ベビー服(男女兼用) ~95cm", '#'
                  %br
                  = link_to "アウター", '#'
              %tr
                %th
                  = "ブランド"
                %td
                  = @item.brand.name rescue ""
              %tr
                %th
                  = "商品の状態"
                %td
                  = @item.condition.name
              %tr
                %th
                  = "配送料の負担"
                %td
                  = @item.shipping_fee_who.name
              %tr
                %th
                  = "発送元の地域"
                %td
                  = link_to @item.prefecture.name , '#'
              %tr
                %th
                  = '発送日の目安'
                %td
                  = @item.shipping_days.name
        .is-main__content__top__item__option
          %ul
            %li.item-button-container
              .item-button-container__left
                = render partial: 'likes/like_links', locals: { item: @item, items: @items, likes: @likes, like: @like}

              
          %ul
            %li.report-box
              = link_to '#', class: "report-box__link" do
                %i= icon('fa', 'flag', class: "report-icon")
                %span= "不適切な商品の通報"
    .is-main__content__comment
      = form_with url: '#', method: :get, local: true, class: "is-main__content__comment__form" do |f|
        = f.text_area :keyword, autocomplete: "off"
        %p.is-main__content__comment__form__notice
          = "相手のことを考え丁寧なコメントを心がけましょう。"
          %br= "不快な言葉遣いなどは利用制限や退会処分となることがあります。"
        = button_tag type: "submit", class: "comment-btn" do
          %i.fa.fa-comment
            = "コメントする"
  .is-main__other
    %ul.is-main__other__links
      %li.is-main__other__links__left
        = link_to item_path(@prev_id) do
          %i= icon('fas', 'angle-left', class: "left-icon")
          %span= "前の商品"
      %li.is-main__other__links__right
        = link_to item_path(@next_id) do
          %span= "次の商品"
          %i= icon('fas', 'angle-right', class: "right-icon")
    .is-main__other__related
      = link_to '#' do
        = "ベニーキッズをもっと見る"
= render "/shared/footerFirst"
= render "/shared/footerSecond"