.wrapper 
  = render 'shared/header'
  - breadcrumb :seles
  = render "/shared/breadCrumb"
  .wrapper__main
    .mp-container
      = render 'shared/myPageSideBar'
      .mp-container__mp-content
        - if @seles.present?
          %canvas#myChart{width: "500px", height: "500px"}
        .profits-title
          .profits-title__bar
            = "現在の販売利益合計"
            %span= "¥ #{@profits.to_s(:delimited)}"
          .profits-title__bar.sub-profits-yet
            = " 内 振込未申請の販売利益合計"
            %span= "¥ #{@profit_yet.to_s(:delimited)}"
        .main__single-container
          %h2.main__single-container__head 売上・振込申請
        %section.my-items-container
          %ul.mp-container__mp-side__mypage-nav__mypage-nav-list
            %li
              = link_to history_seles_path do
                = "売上履歴"
                %i.fas.fa-chevron-right
            %li
              = link_to deposit_list_seles_path do
                = "振込申請履歴"
                %i.fas.fa-chevron-right
    = link_to new_item_path, class: 'sell-icon' do
      = render 'shared/sell-icon'

  = render "/shared/footerFirst"
  = render "/shared/footerSecond"