!!!rails db:migrate
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample68d
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "jquery.js", type: "text/javascript"}
    %script{src: "mypage.js", type: "text/javascript"}
    %script{src: "item-images.js", type: "text/javascript"}
    
  %body
    = yield
